.App {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0s;
  padding: 0;
  overflow: hidden;
}

.top-nav-li {
  float: left;
}

.top-nav-li > a {
  display: block;
  color: #333333;
  font-size: x-large;
  font-weight: 600;
  text-decoration: none;
  padding: 2vh 0 0 5vw;
}

.bottom-block {
  display: block;
  padding: 3vh 0 0 20vh;
}

.bottom-block > h2 {
  color: #495E57;
}

.footer-nav-li > a {
  display: block;
  color: #333333;
  font-size: x-large;
  font-weight: 600;
  text-decoration: none;
  padding: .5vh 0 0 .5vh;
}
