@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&family=Quicksand&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Markazi Text', serif;
  font-weight: 500;
}

.App {
  text-align: center;
}

.header {
  display: grid;
  grid-auto-flow: column;
  column-gap: 10vw;
  justify-content: center;
  padding: 1vw;
}

.top-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4vw;
}

.nav-item {
  text-decoration: none;
  color: #333333;
  font-size: 1.8vw;
  font-weight: 500;
}

.nav-item:hover {
  color: #F4CE14;
}

.footer-nav {
  display: grid;
  grid-auto-flow: column;
  height: max-content;
  align-items: star;
  background-color: #EDEFEE;
  padding: 2%;
}

.footer-nav > img {
  display: flex;
  width: 6vw;
  height: 11vw;
  padding: .5vw 0 .5vw 4vw;
}

.bottom-block {
  text-align: left;
}

.bottom-block > h2 {
  font-size: 1.4vw;
  color: #495E57;
}

.nav-item-footer, .bottom-block > ul {
  display: grid;
  margin: 0;
  padding: 0 0 0 .5vw;
  color: #333333;
  font-size: 1.2vw;
  font-weight: 500;
  list-style-type: none;
  text-decoration: none;
}

.main-banner {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  background-color: #495E57;
  padding-top: 2vw;
  column-gap: 10vw;
  height:25vw;
  overflow: visible;
}

.main-banner > img {
  height: 28vw;
  width: 22vw;
  border-radius: 8%;
  margin-top: 1vw;
}

.info > h1 {
  color: #F4CE14;
  font-size: 4.5vw;
}

.info > h3 {
  color: white;
  font-size: 2.2vw;
}

.info > p {
  color: #e5e5e5;
  width: 32vw;
  font-size: 1.8vw;
  padding: 5% 0 5% 0;
}

button {
  display: inline-flex;
  background-color: #F4CE14;
  height: 4vw;
  width: fit-content;
  height:4vw;
  align-items: center;
  padding: 1vw 2vw 1vw 2vw;
  border-radius: 16px;
  border: none;
  white-space: nowrap;
}

.link > button {
  color: #495E57;
  font-size: 2vw;
  text-align: center;
  text-decoration: none;
}

.menu-top {
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  margin: 8vw 0 4vw 0;
}

.bar {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  column-gap: 24vw;
}

.bar > h1 {
  font-size: 4vw;
}

.item-menu {
  display: grid;
  grid-auto-flow: column;
  column-gap: 2vw;
  margin: 4vw;
}

.card {
  display: block;
  background-color: #EDEFEE;
  width: 20vw;
  border-radius: 2vw;
}

.card > img {
  display: flex;
  width: 20vw;
  height: 14vw;
  border-radius: 8% 8% 0 0;
}

.card > .heading {
  display: flex;
  justify-content: space-between;
  padding: .5vw 1vw 0 1vw;
}

.heading > h1 {
  font-size: 2.2vw;
}

.heading > h1:nth-child(2) {
  color: #EE9972;
}

.card > p {
  font-size: 1.4vw;
  color: #333333;
  padding: 1vw;
}

.delivery > h1 {
  font-size: 1.7vw;
}

.delivery {
  display: flex;
  justify-content: left;
  column-gap: 1vw;
  padding: 0 0 1vw 1vw;
}

.testimonials{
  display: grid;
  background-color: #FBDABB;
}

.testimonials > h1 {
  text-align: center;
  font-size: 4vw;
  padding: 2vw 0 4vw 0;
}

.rate-box {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  column-gap: 2vw;
  padding-bottom: 4vw;
}

.rate-card {
  display: grid;
  place-items: center;
  row-gap: .5vw;
  background-color: white;
  width: 15vw;
  height: fit-content;
  border-radius: 8%;
  padding: 1vw;
}

.rate-card > h1 {
  font-size: 2.4vw;
  color: #495E57;
}

.rate-card > h2 {
  font-size: 1.6vw;
  color: #333333;
}

.rate-card > p {
  font-size: .9vw;
}

.info-about > h1 {
  font-size: 4.5vw;
  color: #495E57;
}

.info-about > h3 {
  font-size: 2.2vw;
  color: #F4CE14;
}

.info-about > p {
  font-size: 1.5vw;
  width: 25vw;
  padding-top: 3vw;
}

.about {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  background-color: white;
  margin: 5vw;
  column-gap: 12vw;
}

.gridImg {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  position: relative;
}

.gridImg > img:nth-child(1) {
  grid-column: 1 / span 4;
  grid-row:1;
  padding-top: 6vw;
}

.gridImg > img:nth-child(2) {
  grid-column: 4 / -1;
  grid-row: 1;
  z-index: 1;
}

.reservation {
  display: flex;
  justify-content: right;
  margin: 5vh;
}

.res-info > .txt {
  margin: 0 0 3vw 0;
  font-size: 1.4vw;
  width: 50vw;
  color: #777777;
}

.txt > h1 {
  margin: 0 0 1vw 0;
  color: #495E57;
}

form {
  display: flex;
  height: fit-content;
  flex-direction: column;
  background-color: #EDEFEE;
  padding: 1vw;
  border-radius: 16px;
}

label {
  font-size: 1.5vw;
  margin: .5vw;
  color: #333333;
}

input, select {
  font-size: 1.5vw;
  margin: .5vw;
  border-radius: 8px;
  border: 2px solid #495E57;
  text-align:center;
  color: #333333;
  text-align: center;
  width: fit-content;
}

textarea {
  width:25vw;
  height: 10vw;
  font-size: 1.4vw;
  border-radius: 8px;
  color:#777777;
}

.lable {
  display: flex;
}


form > button {
  margin: 1vw auto 0 auto;
  text-align: center;
  color: #495E57;
  font-size: 2vw;
}

button[disabled]{
  background-color:#a8a8a8;
}

.booking {
  display: flex;
  margin: 5vw 0 10vw 0;
  flex-direction: column;
  align-items: center;
}

.booking > h1 {
  margin: 2vw 0 0.5vw 0;
  font-size: 3vw;
  color: #495E57;
}

.booking > p {
  font-size: 1.3vw;
  color: #777777;
}

.vertical-card {
  display: flex;
  justify-content: center;
  margin: 5vw 0 5vw 0;
  column-gap: 5vw;
}

.ver-info{
  width: 35vw;
}

.ver-info > h1{
  font-size: 3vw;
}

.ver-info > p {
  font-size: 1.5vw;
  color: #777777;
  padding-top: .5vw;
}

.ver-info > button {
  margin-top: 1.5vw;
  font-size: 1.8vw;
  padding: 0 4vw 0 4vw;
}

.img-card > img {
  width: 27vw;
  height: 18vw;
  border-radius: 1vw;
}

.box{
  display: flex;
  justify-content: center;
  margin: 4vw 0 10vw 0;
}

.box > form {
  display: flex;
  width: fit-content;
  height: fit-content;
  flex-direction: column;
  background-color: #EDEFEE;
  padding: 2vw;
  border-radius: 16px;
}

.box > form > h1 {
  font-size: 4vw;
  color: #495E57;
  text-align: center;
  margin: 2vw;
}

.link{
  text-decoration: none;
  margin: 2vw auto 2vw auto;
  align-items: center;
}